<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/PersonProject/UIAutomation/src/main/java/testPractice"><classes><class name="testPractice.Test000056"><methods><include name="aaa"/></methods></class><class name="testPractice.TestAssert"><methods><include name="test2"/><include name="test1"/></methods></class><class name="testPractice.testOOO"><methods><include name="aa"/></methods></class><class name="testPractice.testOne"><methods><include name="test1"/><include name="test112"/><include name="test2"/><include name="test3"/><include name="test4"/></methods></class></classes></test></suite>